
/* Default font for body */
body {
    font-family: "Helvetica", monospace !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "Helvetica", monospace;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Helvetica", monospace;
}

/* Default font */
.default-font, #default-font {
    font-family: "Helvetica", monospace;
}
